apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-apache
  labels:
    app: php-apache
spec:
  replicas: 1
  selector:
    matchLabels:
      app: php-apache
  template:
    metadata:
      labels:
        app: php-apache
    spec:
      containers:
        - name: php-apache
          image: nginx
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 50m
            limits: 
              cpu: 200m

--- 
apiVersion: v1
kind: Service
metadata:
  name: php-apache
  labels:
    app: php-apache
spec:
  type: ClusterIP
  selector:
    app: php-apache
  ports:
    - port: 80
      targetPort: 80
---