apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}

spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Values.container.name }} 
          image: {{ .Values.container.image.name }}:{{ .Values.container.image.tag }}
          ports:
            - containerPort: {{ .Values.container.port }} 
{{- if .Values.env.enabled }}
          env:
            {{- range $key, $value := .Values.env  }}
            - name: {{ $key }}
              value: {{ $value }}
            {{- end }}
{{- end }}
